/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/.htaccess
/public/index.php
/public/robots.txt
/public/EGYAKIN
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
*.zip
composer.lock
storage/framework
storage/framework/cache/data/52/ac/52acebe9de48b9434598fa65d2ec8d0e111e90b0
storage/framework/cache/data/70/d5/70d5789fb8fa04f157e2f175d8e9158bc3d2b5c6
storage/logs/laravel.log
